/* SkillCard.css */
.skill-card {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #0f1115, #0b0d11);
  /* border-radius: 1rem; */
  padding: 1.4rem;
  color: white;
  border: 1px solid white
}

.skill-card h3 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  color: var(--accent);
}

.skill-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-card li {
  font-size: 0.95rem;
  color: rgba(255,255,255,0.8);
  margin-bottom: 0.35rem;
}
