.carousel{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:600px;
    height: 400px;
}
.slide{
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height:100%
}
.desc-show{
    color: white;
}

.slide-hidden,.desc-hidden{
    display:none ;
}
.carousel-view{
    background: black;
    border-radius: 8.5px;
    padding: 2px;
    font-size: small;
    color: white;
}
.carousel-view-hidden{
    display: none;
}
.carousel-i-view-hidden{
    display: none;
}
.arrow{
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: white;
    filter: drop-shadow(0px 0px 5px #555);
}

.arrow:hover{
    cursor: pointer;
}
.arrow-left{
    left: 1rem;
}
.arrow-right{
    right: 1rem;
}
.indicators{
    display: flex;
    position: absolute;
    bottom:1rem;
    align-items: center;
    column-gap: 2px;
}
.indicator{
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border:none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}
.indicator-inactive{
    background-color: grey;
}
@media screen and (max-width:768px){
    .carousel{
        width: 350px;
        height:350px;
    }
    .indicator{
        margin:0.1rem;
        height: 0.2rem;
        width: 0.2rem;
    }
    .carousel-view{
        background: black;
        border-radius: 8.5px;
        padding: 1px;
        font-size: xx-small;
        color: white;
    }
}

@media screen and (max-width:576px){
    .carousel{
        width: 350px;
        height:350px;
    }
    .indicator{
        margin:0.1rem;
        height: 0.2rem;
        width: 0.2rem;
    }
    .carousel-view{
        background: black;
        border-radius: 8.5px;
        padding: 1px;
        font-size: xx-small;
        color: white;
    }

}

@media screen and (max-width:350px){
    .carousel{
        width: 350px;
        height:350px;
    }
    .indicator{
        margin:0.1rem;
        height: 0.2rem;
        width: 0.2rem;
    }
    .carousel-view{
        background: black;
        border-radius: 8.5px;
        padding: 1px;
        font-size: xx-small;
        color: white;
    }
}