.certification__filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: var(--mb-2);
}

.certification__item{
    cursor: pointer;
   color:var(--title-color);
   padding: 0.25rem 0.75rem;
   font-weight: var(--font-medium);
   border-radius: 0.5rem;
   text-transform: capitalize;
}

.certification__item:hover{
    background-color: var(--title-color);
    color: var(--container-color);
}

.certification__container{
    grid-template-columns: repeat(4,max-content);
    gap:3rem;
    justify-content: center;
}

.certification__card{
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding:1.25rem;
    border-radius: 1rem;
    width: 250px;
}

.certification__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium) ;
    margin-bottom:var(--mb-0-5);
}
.certification__description{
    font-size: var(--normal-font-size);
    font-weight: var(--small-font-size) ;
    margin-bottom:var(--mb-0-5);
}

.certification__button{
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    margin-top: 1.25rem;
}

.certification__button-icon{
    font-size: 1rem;
    transition: .4s;
}

.certification__button:hover .certification__button-icon{
    transform: translateX(0.25rem);
}

.active-certification{
    background-color: var(--title-color);
    color: var(--container-color);
}

@media screen and (max-width:992px){
    .certification__container{
        gap:1.25rem;
    }

    .certification__card{
        padding: 1rem;
    }

    .certification__title{
        margin-bottom: 0.25rem;
    }
}

@media screen and (max-width:768px){
   .certification__container{
    grid-template-columns:repeat(2,max-content);
   }
    .certification__filters{
        column-gap: 0.01rem;
    }
    .certification__description{
        font-size: var(--small-font-size);
        font-weight: var(--small-font-size);
        margin-bottom: var(--mb-0-5);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .certification__card{
        height: 150px;
        width:150px;
    }
}

@media screen and (max-width:576px){
   
    .certification__container{
     grid-template-columns: repeat(2,max-content);
    }
    .certification__filters{
        column-gap: 0.01rem;
    }
    .certification__description{
        font-size: var(--small-font-size);
        font-weight: var(--small-font-size);
        margin-bottom: var(--mb-0-5);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .certification__card{
        height: 150px;
        width:150px;
    }
 }

 @media screen and (max-width:350px){
   .certification__item{
    font-size: var(--small-font-size);
   } 
   .certification__filters{
    column-gap: 0.25rem;
   }
 }