.stats__container{
    grid-template-columns: repeat(4, max-content);
    gap: 3rem;
    justify-content: center;
}
@media screen and (max-width:992px){
    .stats__container{
        gap:1.25rem;
    }
}

@media screen and (max-width:768px){
    .stats__container{
        grid-template-columns:repeat(1,max-content);
    }
    img{
        height: auto;
        width: 350px;
    }
    .hide__Mobile{
        display:none;
    }
}

@media screen and (max-width:576px){

    .stats__container{
        grid-template-columns:repeat(1,max-content);
    }
    img{
        height: auto;
        width: 300px;
    }
    .hide__Mobile{
        display:none;
    }
}